extends ../partials/layout.pug
include ../partials/mixins.pug

block content
  include ../partials/nav.pug

  .jumbotron
    .container
      h1.tagline Power of Data
      p.subtitle Powerful APIs, SDKs and widgets for your applications

  .container-fluid.our-products
    .row
      .col-sm-12
        h2.section-header.text-center Explore our products
        p.section-description.text-center A collection of open APIs from the Swedish Public Employment Service, Arbetsförmedlingen
    .row.puffs
      .col-sm-6.col-md-4.col-lg-3
        a(href="/products/platsbanken")
          +puff('api-puff.jpg', 'Platsbanken', 'All the current job postings available on Platsbanken')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/products/historical-job-postings")
          +puff('data-analysis-puff.jpg', 'Historical Job Postings', 'All job postings from Platsbanken 2006-2016')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/products/cv-with-ms-word")
          +puff('cv-puff.jpg', 'CV with MS Word', 'A plugin that suggests appropriate job vacancies based on text analysis')
      .col-sm-6.col-md-4.col-lg-3.hidden-md
        a(href="/products/occupation-forecasts")
          +puff('dev-services-puff.jpg', 'Occupation Forecasts', 'Short and long-term forecasts of labour demand for different occupations')

    a(href="/products").button.view-products View all products

  .container-fluid.our-vision
    .row
      .col-md-6
        .box
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/nTld0imEJtA?ecver=2?wmode=opaque&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent")
      .col-md-6.col-lg-4
        .box.vertical-align
          div.center-when-mobile
            h2.section-header Our vision
            p.section-description For most people, work is an important part of life. We want to, in collaboration with others, create new services that meet the needs of the future labor market.
            a(href="/our-vision")
              span.read-more Read more

  .container-fluid.sharing-insights
    .row
      .col-md-6.col-md-offset-3
        h2.section-header.text-center Sharing insights
        p.section-description.text-center We believe that inspiration can come in all different forms and from anywhere. So we’ve put together our learnings and insights that will hopefully help you in your journey.
        a(href="/insights").button.view-videos View videos

  script.
    $('.box').matchHeight();
