
footer {
  margin-top: 100px;
  @media screen and (max-width: $small-devices) {
    margin-top: 0px;
  }

  .social-media,
  .powered-by {
    width: 100%;
    padding: 0 100px;

    @media screen and (max-width: $medium-devices) {
      padding: 0 20px;
    }
  }

  .social-media {
    background: $black;
    height: 107px;
    padding-top: 20px;

    p {
      color: $white;
      font-size: 15px;
    }

    img {
      width: 25px;
      margin-right: 10px;
    }
  }

  .powered-by {
    background: $almost-black;
    height: 60px;

    p {
      font-size: 15px;
      color: $almost-white;
      line-height: 60px;
      display: inline-block;
      margin: 0;

      a, a:active, a:hover {
        color: $white !important;
      }

      @media screen and (max-width: $small-devices) {
        font-size: 12px;
      }
    }

    p:last-child {
      float: right;
    }
  }
}
