html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $default-font;
  background-color: $almost-white;
}

h2 {
  color: $almost-black;
  font-size: 36px;
  font-weight: 300;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.center-when-mobile {
  margin: auto;
}

.button {
  color: $black;
  border-radius: 2px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid $black;
  margin: auto;
  padding: 0 20px;
  display: inline-block;
  transition: all 0.2s;

  span {
    text-decoration: none !important;
  }

  &:hover {
    color: $white;
    background-color: $black;
    text-decoration: none !important;
  }
}


.puffs {
    margin-top: 50px;

  .puff {
    width: 100%;
    max-width: 322px;
    margin: auto;
    height: 313px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 $shadow;
    position: relative;
    margin-bottom: 20px;

    &:hover {
      img {
        transform: scale(1.1)
      }
    }

    img {
      width: 120%;
      transition: all 0.2s;
    }

    .puff-text {
      position: absolute;
      bottom: 0;
      background: $white;
      height: 130px;
      padding: 20px;

      .puff-title {
        color: $black;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.4px;
      }
      .puff-description {
        color: $gray;
        font-size: 14px;
      }
    }
  }
}

.breadbrumbs-indent {
  margin-left: 370px;

  @media screen and (max-width: $small-devices) {
    margin-left: 0px;
  }
}
.breadcrumb {
  padding-left: 0px !important;

  @media screen and (max-width: $small-devices) {
    padding-left: 20px !important;
  }

  a {
    color: $gray;
  }
  li.active {
    color: $black;
  }
  & > li + li:before {
    content: "\003E\00a0" !important;
  }
}
