
// Fonts
$default-font: 'Open Sans', sans-serif;

// Colors
$almost-white: #F2F4F5;
$white: #FFF;
$almost-black: #323232;
$black: #000;
// $gray: #535353;
$gray: #666666;
$shadow: #c4c9cc;
$blue: #0967b2;

// Breakpoints
$small-devices: 768px;
$medium-devices: 992px;

// Paths
$img-path: '../images/';
